<!--
<div class="container d-flex flex-column" style="padding-top:150px;">
  <nav>
    <ul>
      <li routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">HomePage</li>
      <li routerLink="/users" routerLinkActive="active">>Users</li>
    </ul>
  </nav>
  <div>
    <router-outlet></router-outlet>
  </div>
  <!--<ng-template ngIf="true">
    <button >Hello</button>
  </ng-template>-->
<!--<button *appIf="false" >Hello</button>
</div>
-->
<app-add-element></app-add-element>
<app-list-element></app-list-element>
<router-outlet></router-outlet>


